body{
	background-image: url("controleroom.jpg");
	position:fixed;
    top: 0;
    left: 0;
	width:100%;
    height:100%;
	z-index:-10;
}


td, th {
	font-family: Arial;
	font-size: 15px;
	padding: 10px 10px 10px 10px;
	border: 1px solid;
	text-align: center;	
	clear: both;
  }
.planets-name{
	font-family: Arial;
	font-size: 15px;
	font-style: italic;
	color:#e6e8e6;
	text-align: center;
	border: 1px solid;	
	border-radius: 15px;
	background-color:#808080;
	clear: both;
}
  
table{
	width: 90%;
	position: absolute;
	left: 5%;
}
  
h1{
	font-family: Arial;
	font-weight: bold;
	font-size: 33px;
	margin: 10px;
	text-align: center;	
}

.unitsquare{
	color: red;
	font-size: 10px;
	position: relative;
	bottom: 8px;
} 

.td-background-color{
	background-color: #F5EDA5;
}

.td-background-color-2{
	background-color: white;
}

table{
	box-sizing: content-box;
	position: relative;
	width: 90%;
	left: 5%;
	right: 5%;
	border:3px solid;
}

.planets-image-rcorners{
	border-radius: 15px;	
}


	
	
  